In [1]:
import pandas as pd

In [ ]:
#Задание №1

In [6]:
authors = pd.DataFrame({'author_id':[1,2,3], 'author_name':['Тургенев','Чехов','Островский']}, columns = ['author_id','author_name'] )
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [13]:
book = pd.DataFrame({'author_id':[1,1,1,2,2,3,3], 'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий','Дама с собачкой', 'Гроза', 'Таланты и поклонники'],'price':[450,300,350,500,450,370,290]}, columns = ['author_id','book_title', 'price'] )
print(book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [ ]:
#Задание №2

In [15]:
authors_price = pd.merge(authors, book, on='author_id', how='outer')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [ ]:
#Задание №3

In [16]:
top5 = authors_price.sort_values(by='price', ascending = False).head()
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [ ]:
#Задание №4

In [19]:
#вычислим максимальные цены на книги данных авторов
df_1 = authors_price.groupby('author_name')
#print(df_1)
max_price = df_1['price'].max()
print(max_price)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x08703928>
author_name
Островский    370
Тургенев      450
Чехов         500
Name: price, dtype: int64

In [21]:
#Вычислим минимальные цены на книги данных авторов
df_2 = authors_price.groupby('author_name')
#print(df_1)
min_price = df_2['price'].min()
print(min_price)

author_name
Островский    290
Тургенев      300
Чехов         450
Name: price, dtype: int64

In [24]:
#Вычислим медианное значение цен на книги
df_3 = authors_price.groupby('author_name')
#print(df_1)
mean_price = df_3['price'].median()
print(mean_price)

author_name
Островский    330
Тургенев      350
Чехов         475
Name: price, dtype: int64

In [31]:
#Сформируем итоговую таблицу, содержащую вычисленные значения
authors_stat_1 = pd.merge(max_price, min_price, on='author_name', how='outer')
print(authors_stat_1)
authors_stat = pd.merge(authors_stat_1, mean_price, on='author_name', how='outer')
print(authors_stat)

             price_x  price_y
author_name
Островский       370      290
Тургенев         450      300
Чехов            500      450
             price_x  price_y  price
author_name
Островский       370      290    330
Тургенев         450      300    350
Чехов            500      450    475